.form {
    width: 60%;
    margin: auto;
    margin-top: 200px;
    margin-bottom: 50px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 20px 0;
    background-color: rgba(0, 0, 0, 0.10);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 1px #fff;

}

.form-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    gap: 30px;
}

.form-inner {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px
}

.form-row {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    gap: 50px
}

.form-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 40px;
}

.form-input {
    padding: 10px 20px;
    border: none;
    background-color: #00000098;
    color: #fff;
    font-family: 'montserrat';
    font-size: 16px;
    backdrop-filter: blur(10px);
    border-bottom: 1px solid white;
    width: 300px;
    margin: auto;
}

.form-input::placeholder {
    color: #fff;
}

.form-input:focus {
    outline: none;
    box-shadow: 0px 2px 2px #fff;
}

.form-input-message {
    resize: none;
    width: 90%;
    height: 40vh;
    background-color: #00000098;
    border: 1px solid #fff;
    font-family: 'montserrat';
    font-size: 16px;
    color: #fff;
    padding: 5px;
}

.form-input-message-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.form-input-message::placeholder {
    color: #fff;
}

.submit-button {
    background-image: linear-gradient(to right, #000000 0%, #53346D  51%, #000000  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: #fff;
    font-family: 'montserrat';
    font-size: 17px;
    font-weight: 500;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    outline: none;
    border: .3px solid #fff;
    cursor: pointer;
}

.submit-button:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

 @media only screen and (max-width: 1280px) {
    .form-inner {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 50px
    }
    .form-input {
        padding: 5px 10px;
        font-size: 15px;
        width: 250px;
        margin: auto;
    }

    .form-row {
        display: flex;
        flex-direction: row;
        width: auto;
    }

 }

 @media only screen and (max-width: 1024px) {
    .form-wrapper{
        width: 90%;
    }
    .form-input {
        width: 90%;
    }

    .form-row {
        display: grid;
        grid-template-columns: 100%;
        width: 100%;
        gap: 50px;
    }

 }

 @media only screen and (max-width: 680px) {
    .form{
        width: 90%;
    }
    .form-wrapper{
        width: 90%;
    }

 }

 @media only screen and (max-width: 425px) {
    .form-wrapper{
        width: 90%;
    }
    .form-inner{
        width: 95%;
    }
    .form-input-message{
        height: 30vh;
    }

 }