.grain-effect{
   z-index: -8;
   position: fixed;
   width: 400%;
   height: 400vh;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;

}
.glass {
    width: 125vw;
    height: 125vh; 
    position: absolute;
    left: -25px;
    right: 0;
    top: -25px;  
    bottom: 0;
    background-color: #00000002;
    backdrop-filter: blur(2px);
}