.contact-page-container{
    min-height: 50vh;
    width: 100%;
    margin-top: 80px;
}

.contact-grid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, auto);
}
@media only screen and (max-width: 1024px) {
    .contact-grid{
        width: 100%;
        grid-template-columns: 100%;
    }
}
