.section-container {
  width: 100%;
  height: 500vh;
  position: relative;
  margin-bottom: 200px;
}

.panel {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;

}

.services-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  backdrop-filter: blur(15px);
  background-color: #00000052;
  width: 70%;
  height: 60vh;
  padding: 50px 70px;
  box-shadow: 0 0 1px #fff;
  border-radius: 2px;
  gap: 20px;
}

.panel.visible {
  opacity: 1;
  visibility: visible;
}

.panel-title {
  font-size: 1.8em;
  font-weight: 300;
  margin: 0 auto;
  z-index: 5;
}

.services-line {
  border-top: 1px solid #fff;
  width: 30%;
  margin-bottom: 20px;
}