.sticky-scroll-container {
  position: relative;
  width: 100%;
  height: 500vh; /* Panellerin scroll ile düzgün çalışması için uzun bir alan */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 100px;
  top: 50%;
  z-index: 99;
}

.sticky-01_panel {
  position: sticky;
  top: 50%;
  transform: translateY(-50%);
  width: 80%;
  height: 70vh;
  background-color: #08080865;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  border-radius: 15px;
  transition: all 0.3s ease;
  backdrop-filter: blur(15px);
  padding: 20px 50px;
}

.sticky-01-panel-wrapper{
  width: 90%;
  height: auto;
  padding: 20px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sticky-01_image {
  width: 40%;
  height: 60%;
  background: linear-gradient(45deg, #ff9a9e, #fad0c4);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.sticky-01_text{
  width: 100%;
  border: 1px solid red;
}